.info {
    padding: 20px;
    border: 1px solid #D4CEC2;
    border-radius: 5px;
}
.description {
    margin-top: 20px;
}
.button {
    display: block;
    margin: auto;
    margin-top: 20px;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    span {
        padding: 5px 10px;
        border: 2px solid transparent;
        border-radius: 5px;
        color: white;
        user-select: none;
    }
}